<div class="md:h-[41rem]">
  <app-nav-bar />
  <div class="flex flex-col items-center justify-between">
    <div class="md:mt-[4rem] md:ml-[50rem]">
      <img
        src="../../assets/img.jpeg"
        alt="Your Image"
        class="w-[24rem] h-[27rem] rounded-full shadow-lg"
      />
    </div>
    <section class=" sm:ml-[14rem] md:mt-[-24rem] md:ml-[-35rem] lg:mr-[8rem] lg:text-left md:text-center">
      <h4
        data-animation="trans"
        class="lg:ml-[6.2rem] text-stone-300  font-medium text-lg capitalize leading-relaxed ml-1"
      >
        hello i'm
      </h4>
      <h2
        data-animation="transL"
        class="  lg:ml-[6rem]  text-5xl font-semibold gradient-text"
      >
        Dina Mohamed
      </h2>
      <div
        data-animation="trans"
        class="lg:ml-[6rem]  text-4xl font-semibold gradient-text leading-loose"
      >
        <span class="text-stone-300 font-medium text-4xl capitalize">and i'm</span>
        {{ "" }}
        <span
          appTypedDynamic
          [typedstring]="['Frontend Developer']"
          [options]="{
            typeSpeed: 100,
            backSpeed: 100,
            backDelay: 1000,
            loop: true
          }"
        >
          Frontend Devoloper</span
        >
      </div>
      <pre
        data-animation="transR"
        class="lg:ml-[6rem] leading-loose text-stone-300 font-medium text-lg capitalize"
      >
i'm ReactJS specialist crafting visually stunning interfaces.
Experienced in authentication, authorization, and sleek dashboards,
eager to contribute to dynamic projects</pre
      >
    </section>
  </div>
  <div class="sm:mt-[2rem] text-center">
    <div class="md:mr-[64rem]">
      <app-contact-icon></app-contact-icon>
    </div>
    <button
      (click)="downloadcv($event)"
      class="mt-6 lg:ml-[-67rem]  md:ml-[4rem] font-semibold px-6 capitalize text-stone-200 hover:bg-teal-300 hover:text-stone-100 rounded-xl p-2 bg-teal-400"
    >
      download cv
    </button>
  </div>
</div>
