<div class="flex justify-center space-x-4 flex-wrap">
  <div class="shadow2 hover:shadow-teal-400 w-10 h-10 rounded-full flex items-center justify-center bg-teal-600 mb-4">
    <a href="mailto:dm3969268@gmail.com" target="_blank">
      <img src="../../../assets/contact-icons/gmail-33.svg" class="w-6 h-6">
    </a>
  </div>
  <div class="shadow2 hover:shadow-teal-400 w-10 h-10 rounded-full flex items-center justify-center bg-teal-600 mb-4">
    <a href="https://wa.me/01154467388" target="_blank">
      <img src="../../../assets/contact-icons/404-whatsapp.svg" class="w-6 h-6">
    </a>
  </div>
  <div class="shadow2 hover:shadow-teal-400 w-10 h-10 rounded-full flex items-center justify-center bg-teal-600 mb-4">
    <a href="https://github.com/dina-mohamed52" target="_blank">
      <img src="../../../assets/contact-icons/github-41.svg" class="w-6 h-6">
    </a>
  </div>
  <div class="shadow2 hover:shadow-teal-400 w-10 h-10 rounded-full flex items-center justify-center bg-teal-600 mb-4">
    <a href="https://www.linkedin.com/in/dina-mohamed-09725023a/" target="_blank">
      <img src="../../../assets/contact-icons/social-linkedin.svg" class="w-6 h-6">
    </a>
  </div>
</div>
