<div class="h-[41rem]" #animatedElement>
  <h2 class=" ml-[35rem] space-x-4 mt-[4rem] text-4xl font-semibold capitalize text-gray-200 " data-animation="trans"  >latest  <span class="text-color" > projects</span></h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-[6rem] mx-auto max-w-6xl">

    <div data-animation="transL" class="bg-white rounded-lg shadow-lg overflow-hidden mx-auto relative group">
    <a href="https://the-worldwise-app.netlify.app/" target="_blank" rel="noopener noreferrer" class="absolute inset-0 z-10 opacity-0 group-hover:opacity-100 flex items-center justify-center text-center transition-opacity duration-300">
      <h2 class="absolute inset-0 bg font-medium bg-opacity-75 text-gray-200 px-4 py-2 rounded-lg flex items-center justify-center">Created an application allowing users to add the countries they have visited using React Leaflet for
map selection</h2>
    </a>
    <img src="../../assets/proImg/WhatsApp Image 2024-02-21 at 3.55.20 PM.jpeg" alt="Project Image" class="w-full h-auto transform transition-transform duration-300 group-hover:scale-105">
  </div>
<!-- ///////////////////////////////////////////////////////////////////////// -->
<div data-animation="transR" class="bg-white rounded-lg shadow-lg overflow-hidden mx-auto relative group">
    <a href="https://wild-oasis-hotel2.netlify.app/login" target="_blank" rel="noopener noreferrer" class="absolute inset-0 z-10 opacity-0 group-hover:opacity-100 flex items-center justify-center text-center transition-opacity duration-300">
      <h2 class="absolute inset-0 bg font-medium bg-opacity-75 text-gray-200 px-4 py-2 rounded-lg flex items-center justify-center">Wild Oasis, a Hotel Booking System, developed with ReactJS, Supabase, and Vite.</h2>
    </a>
  <img class="w-full h-auto transform transition-transform duration-300 group-hover:scale-105" src="../../assets/proImg/WhatsApp Image 2024-02-21 at 3.55.20 PM (2).jpeg" alt="Project Image">
</div>
<!-- //////////////////////////////////////////////////////////////////////// -->
<div data-animation="transL" class="bg-white rounded-lg shadow-lg overflow-hidden mx-auto relative group">
   <a href="https://bankist8.netlify.app/" target="_blank" rel="noopener noreferrer" class="absolute inset-0 z-10 opacity-0 group-hover:opacity-100 flex items-center justify-center text-center transition-opacity duration-300">
      <h2 class="absolute inset-0 bg font-medium bg-opacity-75 text-gray-200 px-4 py-2 rounded-lg flex items-center justify-center">Crafted a small bank website with smooth animations, offering a seamless user experience.</h2>
    </a>

  <img  class="w-full h-auto transform transition-transform duration-300 group-hover:scale-105" src="../../assets/proImg/WhatsApp Image 2024-02-21 at 4.13.57 PM.jpeg" alt="Project Image">
</div>
<!-- ///////////////////////////////////////////////////////////////////////// -->
<div data-animation="trans" class="bg-white rounded-lg shadow-lg overflow-hidden mx-auto relative group">
   <a href="https://github.com/dina-mohamed52/usePopcorn" target="_blank" rel="noopener noreferrer" class="absolute inset-0 z-10 opacity-0 group-hover:opacity-100 flex items-center justify-center text-center transition-opacity duration-300">
      <h2 class="absolute inset-0 bg font-medium bg-opacity-75 text-gray-200 px-4 py-2 rounded-lg flex items-center justify-center">Engineered an innovative movie exploration app with a polished UI, incorporating user authentication
for personalized interactions.</h2>
    </a>
  <img class="w-full h-auto transform transition-transform duration-300 group-hover:scale-105" src="../../assets/proImg/WhatsApp Image 2024-02-21 at 3.55.20 PM (1).jpeg" alt="Project Image">
</div>
<!-- ///////////////////////////////////////////////////////////////////////// -->
<div data-animation="transR" class="bg-white rounded-lg shadow-lg overflow-hidden mx-auto relative group">
   <a href="https://nextlevel-food.netlify.app/" target="_blank" rel="noopener noreferrer" class="absolute inset-0 z-10 opacity-0 group-hover:opacity-100 flex items-center justify-center text-center transition-opacity duration-300">
      <h2 class="absolute inset-0 bg font-medium bg-opacity-75 text-gray-200 px-4 py-2 rounded-lg flex items-center justify-center">A dynamic and innovative web application crafted with Next.js, designed using Tailwind CSS to
elevate the user experience in the food industry.
•Utilizes SQLite3 and XSS prevention measures, dynamic routes, server-side actions</h2>
    </a>
  <img class="w-full h-auto transform transition-transform duration-300 group-hover:scale-105" src="../../assets/proImg/WhatsApp Image 2024-02-21 at 3.55.19 PM (1).jpeg" alt="Project Image">
</div>
<!-- ///////////////////////////////////////////////////////////////////////// -->
<div data-animation="trans" class="bg-white rounded-lg shadow-lg overflow-hidden mx-auto relative group">
    <a href="https://fast-order-pizza2.netlify.app/" target="_blank" rel="noopener noreferrer" class="absolute inset-0 z-10 opacity-0 group-hover:opacity-100 flex items-center justify-center text-center transition-opacity duration-300">
      <h2 class="absolute inset-0 bg font-medium bg-opacity-75 text-gray-200 px-4 py-2 rounded-lg flex items-center justify-center">Architected and developed a state-of-the-art ReactJS application for streamlined pizza ordering,
integrating Redux Toolkit and Thunk for efficient state management</h2>
    </a>
  <img class="w-full h-auto transform transition-transform duration-300 group-hover:scale-105" src="../../assets/proImg/WhatsApp Image 2024-02-21 at 3.55.19 PM.jpeg" alt="Project Image">
</div>
<!-- ///////////////////////////////////////////////////////////////////////// -->


</div>
</div>
<!-- ///////////////////////////////////////////////////////////////////////// -->
