<div class="h-[41rem] relative" #animatedElement>
  <app-wave-svg [fillcolor]="'#38a89d'" data-animation="trans" >
  </app-wave-svg>
  <h1  data-animation="trans" class="  mt-[-9rem] text-2xl font-medium ml-[40rem] capitalize text-gray-200 absolute ">
     skills
   </h1>

  <div  class="grid grid-cols-4 gap-4 mt--2 text-gray-300 mx-auto max-w-6xl">


    <!-- React -->
    <div class="text-center"  data-animation="transL" >
      <img src="../../assets/react.svg" alt="React" class="w-20 h-20 mx-auto mb-2">
      <p class="text-lg font-semibold">React</p>
    </div>
     <!-- Angular -->
    <div class="text-center" data-animation="transL" >
      <img src="../../assets/angular.svg" alt="Angular" class="w-20 h-20 mx-auto mb-2">
      <p class="text-lg font-semibold">Angular</p>
    </div>
    <!-- Next.js -->
    <div class="text-center" data-animation="transR" >
      <img src="../../assets/nextjs-icon-svgrepo-com.svg" alt="Next.js" class="w-20 h-20 mx-auto mb-2">
      <p class="text-lg font-semibold">Next.js</p>
    </div>

    <!-- CSS -->
    <div class="text-center"  data-animation="transL">
      <img src="../../assets/css3-svgrepo-com.svg" alt="CSS" class="w-20 h-20 mx-auto mb-2">
      <p class="text-lg font-semibold">CSS</p>
    </div>

    <!-- HTML -->
    <div class="text-center"  data-animation="transR">
      <img src="../../assets/html5-icon-7.jpg" alt="HTML" class="w-20 h-20 mx-auto mb-2">
      <p class="text-lg font-semibold">HTML</p>
    </div>

    <!-- JavaScript -->
    <div class="text-center" data-animation="transR" >
      <img src="../../assets/logo-javascript.svg" alt="JavaScript" class="w-20 h-20 mx-auto mb-2">
      <p class="text-lg font-semibold">JavaScript</p>
    </div>



    <!-- React Router -->
    <div class="text-center" data-animation="transL" >
      <img src="../../assets/react-router.svg" alt="React Router" class="w-20 h-20 mx-auto mb-2">
      <p class="text-lg font-semibold">React Router</p>
    </div>

    <!-- Redux -->
    <div class="text-center" data-animation="transL" >
      <img src="../../assets/redux.svg" alt="Redux" class="w-20 h-20 mx-auto mb-2">
      <p class="text-lg font-semibold">Redux</p>
    </div>

    <!-- Vite -->
    <div class="text-center" data-animation="transL">
      <img src="../../assets/vite-svgrepo-com.svg" alt="Vite" class="w-20 h-20 mx-auto mb-2">
      <p class="text-lg font-semibold">Vite</p>
    </div>

    <!-- Tailwind CSS -->
    <div class="text-center" data-animation="transL" >
      <img src="../../assets/tailwind-svgrepo-com.svg" alt="Tailwind CSS" class="w-20 h-20 mx-auto mb-2">
      <p class="text-lg font-semibold">Tailwind CSS</p>
    </div>

    <!-- Supabase -->
    <div class="text-center  " data-animation="transL" >
      <img src="../../assets/supabase.svg" alt="Supabase" class="w-20 h-20 mx-auto mb-[3.7rem]">
      <p class="text-lg font-semibold mt-[-3rem] ">Supabase</p>
    </div>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1442 40" style="position: absolute; bottom: 0; left: 0; right: 0;">
    <path fill="#38a89d" stroke-width="1" d="M20,40 C888,0,1152,0,1448,0 S3728,800,4040,0 L4016,50 L40,550 Z"></path>
  </svg>
</div>
