<div class="md:h-[41rem]" #animatedElement>
  <h2 class="text-color font-semibold text-4xl capitalize text-center md:text-left md:ml-[36rem] mt-[5rem]"><span class="text-gray-200">my</span>  services</h2>
  <div data-animation="transR" class="grid grid-cols-1 md:grid-cols-3 gap-4 p-8 mt-[6rem]">
    <div class="h-[18rem] bg-stone-900 shadow rounded-lg text-gray-200 overflow-hidden flex flex-col items-center justify-center text-center p-2 md:p-4 bg-opacity-50">
      <img src="../../assets/development-2.svg" class="w-8 h-8 md:w-12 md:h-12 mb-2">
      <h2 class="text-sm md:text-base font-semibold capitalize">Web Development</h2>
      <p class="text-gray-400 text-xs md:text-sm">Technologies: ReactJS, NextJS, Angular. Create visually stunning and efficient user interfaces for web applications using the latest front-end technologies and best practices.</p>
    </div>
    <div data-animation="transR" class="bg-stone-900 shadow rounded-lg text-gray-200 overflow-hidden flex flex-col items-center justify-center text-center p-2 md:p-4 bg-opacity-50">
      <img src="../../assets/design-38.svg" class="w-8 h-8 md:w-12 md:h-12 mb-2">
      <h2 class="text-sm md:text-base font-semibold">UI/UX Design</h2>
      <p class="text-gray-400 text-xs md:text-sm">Combine front-end development skills with a keen eye for design to create user-friendly interfaces. Libraries: Bootstrap, Tailwind CSS, Styled Components</p>
    </div>
    <div data-animation="transR" class="bg-stone-900 shadow rounded-lg text-gray-200 overflow-hidden flex flex-col items-center justify-center text-center p-2 md:p-4 bg-opacity-50">
      <img src="../../assets/role-authorization-2.svg" class="w-8 h-8 md:w-12 md:h-12 mb-2">
      <h2 class="text-sm md:text-base font-semibold">Authentication and Authorization</h2>
      <p class="text-gray-400 text-xs md:text-sm">Robust authentication and authorization mechanisms to ensure secure access to web applications.</p>
    </div>
  </div>
</div>
